.footer-section {width: 400px; padding-right: 5rem;}
.footer {width: 100%; display: flex; flex-flow: row nowrap; justify-content: space-between;}
.footer p {font-family: 'Gobold' ,serif; font-size: .5rem; padding-top: 5rem;}
